.xmonad/history
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux

.emacs.d/custom.el
.emacs.d/magithub
.emacs.d/projectile.cache
.emacs.d/request
.emacs.d/transient
.emacs.d/bookmarks
